<!DOCTYPE html>
<html>
    <head>
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168080568-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168080568-1');
        </script>-->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#f2f7fd">
        <link rel="icon" href="./img/smartx-icon.png">
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/bootstrap-rtl.min.css" />
        <link rel="stylesheet" href="./css/flickity.min.css" />
        <link rel="stylesheet" href="./css/style.css?v=2" />
        <!-- <script src="./js/vue.js"></script> -->
        <script src="./js/vue.min.js"></script>
        <script src="./js/FieldInput.js?v=1.1"></script>
        <!-- <script src="./vue-router.js"></script> -->
        <script src="./data/data.js?v=1.9"></script>
        <title>Smart X</title>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg py-2 navbar-light px-lg-0 px-1">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-lg-none mx-3" @click.prevent="show='MAIN'" style="cursor: pointer;">
                    <img style="width: 170px;" src="./img/smartx-tagline.png" alt="" />
                </a>

                <div class="collapse navbar-collapse px-0" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto pr-0 align-items-center">
                        <li class="nav-item px-lg-2 d-none d-lg-block">
                            <a class="nav-link smart-logo" @click.prevent="show='MAIN'">
                                <img src="./img/smartx-tagline.png" alt="" />
                            </a>
                        </li>
                        <li class="nav-item px-xl-3 px-lg-2">
                            <a class="nav-link" @click.prevent="show='MAIN';closeNavbar()">
                                <img style="width: 45px;" src="./img/home.svg" alt="" />
                            </a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click.prevent="show='REGISTER';closeNavbar()">ثبت نام</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click="show='MAIN';closeNavbar()" href="#serivces">خدمات شتابدهنده</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click="show='MAIN';closeNavbar()" href="#processes">فرآیند شتابدهی</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click="closeNavbar()" href="https://virgool.io/@smartx_acc" target="_blank">بلاگ</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click="show='MAIN';closeNavbar()" href="#faqs">سوالات متداول</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click.prevent="show='ABOUT_US';closeNavbar()">درباره‌ی ما</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <a class="nav-link" @click.prevent="show='CONTACT_US';closeNavbar()">تماس با ما</a>
                        </li>
                        <li class="nav-item py-2 px-xl-3 px-lg-2">
                            <div class="dropdown text-center social-dropdown">
                                <img src="./img/link.svg" class="btn p-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                 
                                <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                                    <div class="dropdown-item">
                                        <a href="https://instagram.com/Smartx_Acc" target="_blank" class="d-inline-block"><img src="./img/instagram.svg" alt="" /></a>
                                        <a href="https://t.me/Smartx_Acc" target="_blank" class="d-inline-block"><img src="./img/telegram.svg" alt="" /></a>
                                        <a href="https://twitter.com/Smartx_Acc" target="_blank" class="d-inline-block"><img src="./img/twitter.svg" alt="" /></a>
                                    </div>
                                </div>
                            </div>   
                        </li>
                    </ul>
                </div>
            </nav>
            <div v-if="show === 'MAIN'">
                <div class="intro-section carousel">
                    <div class="carousel-cell c-1">
                        <div class="desc-container pt-4">
                            <h3 class="header text-center py-5">اسمارت ایکس، شتابدهنده فعال در زمینه سلامت و کشاورزی هوشمند</h3>
                            <div class="desc">
                                استارتاپی که به تازگی محصول خود را به بازار عرضه کرده است، در صورتی که دانش و تجربه کافی نسبت به شناخت بازار و توسعه محصول نداشته باشد و
                                از فضای کار و سرمایه کافی برای ادامه راه برخوردار نباشد نیازمند مشاوره، سرمایه اولیه و فضای استقرار است. شتابدهنده اسمارت ایکس با اختصاص فضای کار،
                                حمایت مالی تا سقف ۱۰۰ میلیون تومان با توجه به جایگاه کسب و کار در بازار، مربیگری و مشاوره متمرکز در یک بازه زمانی ۶ ماهه آماده است تا
                                استارتاپ های توانمند را به سوی مدار موفقیت شتاب دهد.
                            </div>
                            <button @click="show='REGISTER'" class="btn btn-primary btn-lg rounded-pill py-3 px-5 mx-auto d-block">ثبت نام استارتاپ</button>
                        </div>
                        <img src="./img/img-1.svg" alt=""/>
                    </div>
                    <div class="carousel-cell c-2">
                        <div class="desc-container pt-5 ml-5 mb-5">
                            <h3 class="header text-center py-5" style="color: #8749afad;">فراخوان استارتاپ اسمارت‌ایکس برای جذب استارتاپ‌های نوآور</h3>
                            <div class="desc">
                                شتابدهنده اسمارت‌ایکس از دانشجویان، فارغ التحصیلان و فعالین حوزه سلامت و کشاورزی هوشمند که دارای ایده‌های خلاقانه‌ می‌باشند برای پذیرش در دوره پیش شتابدهی دعوت می‌نماید.
                            </div>
                            <button @click="show='REGISTER'" class="btn btn-primary btn-lg rounded-pill py-3 px-5 mx-auto d-block">ثبت نام استارتاپ</button>
                        </div>
                        <img src="./img/slider.png" alt="" class="mr-auto" />
                    </div>
                </div>
                <div class="activities">
                    <img src="./img/img-2.svg" class="img_1" alt="" />
                    <img src="./img/img-3.svg" class="img_2" alt="" />
                    <div class="list">
                        <h2 class="header py-5">زمینه فعالیت شتابدهنده</h2>
                        <div class="activity-container">
                            <div v-for="(activity, index) in activities" class="activity">
                                <h3 class="activity-title">{{activity[lang].title}}</h3>
                                <img class="activity-icon" :src="activity.icon" alt="" />
                                <div>
                                    <div class="activity-item">
                                        {{activity[lang].sub_activities[0]}}
                                    </div>
                                </div>
                                <div :class="{'collapse': true, 'show': index===0}" :id="`act_${index}`">
                                    <div v-for="sub_activity in activity[lang].sub_activities.slice(1   )" 
                                        class="activity-item">
                                        {{sub_activity}}
                                    </div>
                                </div>
                                <button
                                    class="btn btn-link"
                                    data-toggle="collapse"
                                    :data-target="`#act_${index}`"
                                    aria-expanded="false"
                                    :aria-controls="`act_${index}`"
                                >
                                    <i :class="['fa',  index === 0 ? collapseBtnIcon_0 : collapseBtnIcon_1]"></i>
                                    {{ index === 0 ? collapseBtnLabel_0 : collapseBtnLabel_1 }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="header text-center my-4 py-5">خدمات شتابدهنده</h2>
                <div class="services pt-5" id="serivces">
                    <div class="row mx-auto">
                        <div v-for="service in services" class="col-xl-3 col-md-6">
                            <div class="service-item">
                                <img class="service-icon" :src="service.icon" alt="">
                                <h5 class="py-5">{{service[lang].title}}</h5 class="py-4">
                                <div>{{service[lang].desc}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="process" id="processes">
                    <img class="img-tr" src="./img/cloud-1.svg" alt="" />
                    <img class="img-tl" src="./img/cloud-2.svg" alt="" />
                    <img class="img-bl" src="./img/cloud-1.svg" alt="" />
                    <img class="img-br" src="./img/cloud-2.svg" alt="" />
                    <h2 class="header text-center py-5 position-relative">فرآیند شتابدهی</h2>
                    <div class="prc-container">
                        <div class="prc mb-4" v-for="(process, index) in processes">
                            <img class="prc-icon" :src="selected_process===index ? process.activeIcon : process.icon" @click="selected_process=index" alt="">
                            <div class="prc-title">{{process[lang].title}}</div>
                        </div>
                    </div>
                    <div class="desc p-4 mt-5 mx-auto" v-html="processes[selected_process][lang].desc"></div>
                </div>
                <h2 class="header text-center my-5">سوالات متداول</h2>
                <div class="faqs" id="faqs">
                    <div v-for="(faq, index) in faqs" class="faq-item">
                        <button 
                            class="btn list-title px-0"
                            data-toggle="collapse"
                            :data-target="`#faq_${index}`"
                            aria-expanded="false"
                            :aria-controls="`faq_${index}`"
                        >
                            <i :class="['fa',  index === 0 ? faqCollapseBtnIcon_0 : index === 1 ? faqCollapseBtnIcon_1 : faqCollapseBtnIcon_2]"></i>
                            {{faq[lang].title}}
                        </button>
                        <div :class="{'collapse pt-4 pt-sm-5': true, 'show': index===0}" :id="`faq_${index}`">
                            <div v-for="qa in faq[lang].qas" class="mb-4">
                                <div class="question mb-3">{{qa.q}}</div>
                                <div class="answer">{{qa.a}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="noble-coworkers">
                    <h2 class="header text-center py-5">همکاران برجسته</h2>
                    <div class="img-container">
                        <img src="./img/benda.png" alt="">
                        <img src="./img/sbu.png" alt="">
                    </div>
                </div> -->
            </div>
            <div v-if="show === 'ABOUT_US'" class="about-us">
                <img class="img-l" src="./img/scifi-1.svg" alt="">
                <img class="img-r" src="./img/scifi.svg" alt="">
                <h2 class="header text-center py-5">درباره‌ی ما</h2>
                <div class="w-80 mx-auto">
                    <div class="desc">{{aboutUs[lang].desc}}</div>
                    <div class="staff row py-5 justify-content-center">
                        <div v-for="staff in aboutUs[lang].staff" class="text-center col-lg-3 col-md-4 col-sm-6 mb-5">
                            <div class="img mx-auto mb-3" :style="`background-image:url(${staff.img})`"></div>
                            <div class="name mb-2">{{staff.name}}</div>
                            <div class="role mb-2">{{staff.role}}</div>
                            <div class="edu mb-2">{{staff.education}}</div>
                            <div class="uni">{{staff.university}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="show === 'REGISTER'" class="register">
                <h2 class="header py-5 text-center">فرم درخواست پذیرش در شتابدهنده اسمارت ایکس</h2>
                <div class="register-box">
                    <!--<p style="line-height: 2.5;font-size: 18px;">
                        برای درخواست پذیرش در شتابدهنده اسمارت ایکس فرم ثبت نام را از <a href="./register.docx">اینجا</a> دانلود کنید و پس از تکمیل دقیق فرم، آن را به ایمیل <a href="mailto:info@smartxacc.ir">info@smartxacc.ir</a> ارسال فرمایید.
                        چنانچه اسناد business model یا business plan نیز تهیه نموده اید به همراه فرم درخواست پذیرش به ایمیل ذکر شده ارسال فرمایید. 
                    </p>-->
                
                     <div class="register-section">
                        <h3 class="title">مشخصات نماینده تیم</h3>
                        <div class="row">
                            <div v-for="(field, index) in register.representative" class="col-sm-6 mb-5">
                                <s-input 
                                    :value="field.value" 
                                    :required="field.required" 
                                    @input="(value)=>onInput('representative', index, value)" 
                                    :label="field.label"
                                    :error="field.error"
                                ></s-input>
                            </div>
                        </div>
                    </div>
                    <div class="register-section">
                        <h3 class="title">مشخصات استارتاپ</h3>
                        <div class="row">
                            <div v-for="(field, index) in register.startup_1" class="col-md-6 mb-5">
                                <s-input 
                                    :value="field.value" 
                                    @input="(value)=>onInput('startup_1', index, value)" 
                                    :label="field.label"
                                    :required="field.required" 
                                    :error="field.error"
                                ></s-input>
                            </div>
                        </div>
                    </div>
                    <div class="register-section team-info">
                        <h3 class="title">مشخصات اعضای تیم</h3>
                        <div v-for="(m, index) in register.members" class="member">
                            <div class="d-flex align-items-center mb-5">
                                <img v-if="index>0" src="./img/remove_member.svg" style="cursor: pointer;" @click="removeMember(index)" alt="" />
                                <h4 class="mr-3">نفر {{ numToPer[index + 1] }}</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5">
                                    <s-input :value="m.first_name" @input="(value)=>onInput('members', index, value, 'first_name')" label="نام"></s-input>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <s-input :value="m.last_name" @input="(value)=>onInput('members', index, value, 'last_name')" label="نام خانوادگی"></s-input>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <s-input :value="m.edu" @input="(value)=>onInput('members', index, value, 'edu')" label="رشته و مقطع تحصیلی"></s-input>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <s-input :value="m.role" @input="(value)=>onInput('members', index, value, 'role')" label="سمت در تیم"></s-input>
                                </div>
                            </div>
                        </div>
                        <img src="./img/add_member.svg" style="cursor: pointer;" @click="addMember" alt="" />
                    </div>
                    <div class="register-section">
                        <h3 class="title">استارتاپ</h3>
                        <div v-for="(field, index) in register.startup_2" class="form-group mb-5">
                            <label class="pb-3 mb-0">{{field.label}} <span v-if="field.required" class="text-danger"> *</span></label>
                            <div v-if="field.error" class="text-danger pb-3">{{field.error}}</div>
                            <textarea 
                                v-if="field.type === 'textarea'" 
                                class="form-control" 
                                rows="5"
                                :value="field.value" 
                                @input="({target: {value}})=>onInput('startup_2', index, value)"
                            ></textarea>
                            <div v-else class="row" :id="field.key">
                                <div v-for="attr in field.fields" class="col-md-4 col-sm-6 mb-5">
                                    <div :class="{'checkmark-container': true, 'check': field.type === 'check', 'radio': field.type === 'radio'}">
                                        <input class="form-check-input" type="radio" :id="attr.id" />
                                        <span class="checkmark fa" @click="toggleCheck(field.type, field.key, attr.id, attr.name, index)"> </span>
                                    </div>
                                    <span>{{attr.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-5 file-upload-container">
                            <label class="mb-4">چنانچه اسناد business model یا business plan نیز تهیه نموده‌­اید پیوست نمایید.</label>
                            <div v-for="f of files" class="file-upload">
                                <input type="file" class="mb-4 extra-file" />
                                <button class="btn btn-outline-dark btn-sm fake-upload-btn">انتخاب فایل</button>
                                <span>{{f}}</span>
                            </div>
                            <button 
                                class="btn btn-outline-primary d-flex" 
                                style="padding: 0; width: 30px; height: 30px;"
                                @click="addFile"
                            >
                                <i class="fa fa-plus m-auto mt-1" style="padding-top: 2px;"></i>
                            </button>
                        </div>
                        <div>
                            با ارسال این فرم، ما بعنوان «شتابدهنده اسمارت ایکس» متعهد می‌شویم که:
                            <ul class="mb-4 mt-3">
                                <li class="mb-2">تمام تلاش خود را برای حفظ امنیت اطلاعات شخصی و استارتاپ شما بکار خواهیم بست.</li>
                                <li class="mb-2">
                                    اطلاعات شما را بدون اجازه شما، در اختیار هیچ فردی بجز اعضای تیم اسمارت ایکس، هیئت مدیره و مشاورین آن قرار نخواهیم داد.
                                </li>
                                <li class="mb-2">
                                    از اطلاعات شما برای هیچ کارکردی، مگر فرآیند پذیرش استارتاپ شما در شتابدهنده اسمارت ایکس، استفاده نخواهیم نمود.
                                </li>
                            </ul>
                            و شما اذعان می‌دارید که:
                            <ul class="mb-4 mt-3">
                                <li class="mb-2">که با پرکردن فرم پذیرش، هیچ تعهدی برای ارائه خدمات به شما بر عهده اسمارت ایکس نخواهد بود.</li>
                                <li class="mb-2">اطلاعات وارد شده در این سایت تا حد امکان دقیق و صحیح بوده و حاوی هیچگونه اشتباه عمدی نیست.</li>
                                <li class="mb-2">
                                    تمامی افراد ذینفع استارتاپ، از اقدام شما مبنی بر ارائه این اطلاعات و درخواست برای ورود به شتابدهنده اسمارت ایکس آگاهند.
                                </li>
                            </ul>
                        </div>
                        <form         
                            method="POST"
                            enctype="multipart/form-data"
                            ref="form"
                            @submit="upload(event)"
                        >
                            <input type="hidden" name="subject" :value="register.representative[4].value">
                            <button 
                                type="submit" 
                                :class="{'btn btn-primary btn-lg rounded-pill py-3 mt-5 px-5 mx-auto d-block': true, 'disabled': loading}"
                            >
                               {{
                                    loading
                                        ? 'در حال ارسال اطلاعات ...'
                                        : 'ارسال در خواست'
                                }}
                            </button>
                            <div v-if="error_inform" class="text-danger text-center pt-4">{{error_inform}}</div>
                        </form>
                    </div> 
                </div>
            </div>
            <div v-if="show === 'CONTACT_US'" class="contact-us">
                <img src="./img/contact-us.svg" class="img-1" alt="" />
                <!-- <img src="./img/img-6.svg" class="img-2" alt="" /> -->
                <div>
                    <div class="row align-items-center main-container">
                        <h2 class="header col-12 py-5 text-center">تماس با ما</h2>
                        <div class="info-container col-sm-7 col-12 order-1 order-sm-0">
                            <div class="d-flex flex-column align-items-start mb-4">
                                <div class="d-flex mb-2">
                                    <img class="ml-3" src="./img/phone.svg" alt="" />
                                    <h4 class="mb-1">شماره تلفن</h4>
                                </div>
                                <div style="padding-right: 55px;">۰۹۰۲-۲۸۵-۲۹۶۸</div>
                                <div style="padding-right: 55px;">پاسخگویی از ساعت ۸ الی ۱۷</div>
                            </div>
                            <div class="d-flex flex-column align-items-start mb-4">
                                <div class="d-flex mb-2">
                                    <img class="ml-3" src="./img/mail.svg" alt="" />
                                    <h4 class="mb-1">ایمیل</h4>
                                </div>
                                <div style="padding-right: 55px;">info@smartxacc.ir</div>
                            </div>
                            <div class="d-flex flex-column align-items-start mb-4">
                                <div class="d-flex mb-2">
                                    <img class="ml-3" src="./img/location.svg" alt="" />
                                    <h4 class="mb-1">آدرس</h4>
                                </div>
                                <div style="padding-right: 55px;">تهران، خیابان ونک، نرسیده به اتوبان کردستان، جنب بوستان آرارات، پلاک ۴۹، طبقه ۲، واحد ۳</div>
                            </div>
                            <div class="d-flex pt-3">
                                <a href="https://instagram.com/Smartx_Acc" target="_blank" class="ml-3 mr-auto"><img src="./img/instagram.svg" alt="" /></a>
                                <a href="https://t.me/Smartx_Acc" target="_blank" class="ml-3"><img src="./img/telegram.svg" alt="" /></a>
                                <a href="https://twitter.com/Smartx_Acc" target="_blank" class="d-inline-block ml-auto"><img src="./img/twitter.svg" alt="" /></a>
                            </div>
                        </div>
                        <img class="map mb-5 mb-sm-0 col-sm-5 col-12" src="./img/map.png" alt="">
                    </div>
                </div>
            </div>
            <div class="smartx-footer">
                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
                        <div class="col-12 col-md-6">
                            <h5>درباره‌ی ما</h5>
                            <p class="text-justify" style="line-height: 2;">
شتابدهنده اسمارت ایکس با همکاری مرکز نوآوری گروه توسعه بن دا فعالیت خود را با مدیریت تعدادی از نخبگان و فرهیختگان فناوری کشور در فروردین ۱۳۹۹ آغاز نموده است. با توجه به ظرفیت های بالای این شتابدهنده از جمله ارتباط نزدیک با دانشگاه های مطرح کشور و دارا بودن شبکه وسیعی از افراد فعال در حوزه فناوری و اقتصاد، این شتابدهنده می تواند امکان رشد سریع و جذب سرمایه را برای تیم های پذیرفته شده در دوره شتابدهی فراهم نماید. سلامت هوشمند یکی از زمینه های اصلی فعالیت شتابدهنده اسمارت ایکس محسوب می شود. بکارگیری روش های هوشمند نوین باعث افزایش کیفیت خدمات درمانی، افزایش دقت در تشخیص بیماری های مختلف و بهبود سلامت جامعه می شود. کشاورزی هوشمند نیز از دیگر زمینه های اصلی فعالیت اسمارت ایکس می باشد که با توجه به موقعیت آب و هوایی و منابع محدود آب و خاک در ایران، استفاده از روش های نوین و هوشمند در این حوزه یک نیاز اساسی برای کشور محسوب می­ شود.
                            </p>
                        </div>


                        <div class="col-12 col-md-3">
                            <h5>تماس با ما</h5>
                            <ul class="footer-links px-0">
                                <li class="mb-2">
                                    <h6 class="mb-2">شماره تلفن</h6>
                                    <div>۰۲۱۹۱۳۰۳۵۳۵-۴</div>
                                </li>
                                <li class="mb-2">
                                    <h6 class="mb-2">ایمیل</h6>
                                    <div>info@smartxacc.ir</div>
                                </li>
                                <li class="mb-2">
                                    <h6 class="mb-2">آدرس</h6>
                                    <div>
                                        تهران، خیابان ونک، نرسیده به اتوبان کردستان، جنب بوستان آرارات، پلاک ۴۹، طبقه ۲، واحد ۳
                                    </div>
                                </li>
                                <li>
                                    <ul class="social-icons px-0">
                                        <li>
                                            <a href="https://instagram.com/Smartx_Acc" target="_blank" class="ml-2"><img style="width: 35px" src="./img/instagram.svg" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href="https://t.me/Smartx_Acc" target="_blank" class="ml-2"><img style="width: 35px" src="./img/telegram.svg" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/Smartx_Acc" target="_blank" class="ml-2"><img style="width: 35px" src="./img/twitter.svg" alt="" /></a>
                                        </li>  
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 col-md-3">
                            <h5>لینک ها</h5>
                            <ul class="footer-links px-0">
                                <li class="mb-2">
                                    <a @click.prevent="show='REGISTER'" style="cursor: pointer">ثبت نام</a>
                                </li>
                                <li class="mb-2">
                                    <a href="https://virgool.io/@smartx_acc" target="_blank">بلاگ</a>
                                </li>
                                <li class="mb-2">
                                    <a @click="show='MAIN'" href="#faqs">سوالات متداول</a>
                                </li>
                                <li class="mb-2">
                                    <a @click.prevent="show='ABOUT_US'" style="cursor: pointer">درباره‌ی ما</a>
                                </li>
                                <li class="mb-2">
                                    <a href="http://parspack.com/" target="_blank" class="ml-2">
                                        <img style="width: 75px" src="./img/parsPack.jpeg" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <hr>
                    </div>
                    <div class="container">
                        <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <p class="copyright-text"> 
                                تمامی حقوق متعلق به اسمارت ایکس می باشد.
                            </p>
                        </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="./js/flickity.pkgd.min.js"></script>
        <script src="./js/font-awesome.js"></script>
        <script src="./js/jquery-3.5.1.min.js"></script>
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/jspdf.debug.js"></script>
        <script src="./js/SAHEL-FD-normal.js"></script>
        <script src="./js/jszip.min.js"></script>
        <script src="./js/filesaver.min.js"></script>
        <script>
            var app = new Vue({
                el: "#app",
                data: (vm)=>({
                    lang: "fa",
                    selected_process: 0,
                    collapseBtnLabel_0: "موارد کمتر",
                    collapseBtnLabel_1: "موارد بیشتر",
                    collapseBtnIcon_0: "fa-angle-up",
                    collapseBtnIcon_1: "fa-angle-down",
                    faqCollapseBtnIcon_0: "fa-angle-up",
                    faqCollapseBtnIcon_1: "fa-angle-down",
                    faqCollapseBtnIcon_2: "fa-angle-down",
                    fileNum: 1,
                    show: 'MAIN',
                    error_inform: '',
                    files: [''],
                    loading: false,
                    register: DATA.register
                    
                }),
                created() {
                    this.services = DATA.services;
                    this.processes = DATA.processes;
                    this.faqs = DATA.faqs;
                    this.activities = DATA.activities;
                    this.aboutUs = DATA.aboutUs;
                    this.numToPer = {
                        1: "اول",
                        2: "دوم",
                        3: "سوم",
                        4: "چهارم",
                        5: "پنجم",
                        6: "ششم",
                        7: "هفتم",
                        8: "هشتم",
                        9: "نهم",
                        10: "دهم",
                        11: "یازدهم",
                        12: "دوازدهم",
                        13: "سیزدهم",
                        14: "چهاردهم",
                        15: "پانزدهم",
                        16: "شانزدهم",
                        17: "هفدهم",
                        18: "هجدهم",
                        19: "نوزدهم",
                        20: "بیستم",
                        21: "بیست و یکم",
                        22: "بیست و دوم",
                    };
                },
                mounted() {
                    let v = this;
                    this.$nextTick(() => {
                        var flkty = new Flickity( '.carousel', {
                                    "wrapAround": true,
                                    pageDots: false,
                                    on: {
                                    ready: function() {
                                            // document.querySelector('.carousel-cell.c-1').style.minHeight = document.querySelector('.flickity-viewport').style.height
                                            // document.querySelector('.carousel-cell.c-2').style.minHeight = document.querySelector('.flickity-viewport').style.height
                                        }
                                    }
                                });
                        $(`#act_${0}`).on("shown.bs.collapse", function () {
                            v.collapseBtnLabel_0 = "موارد کمتر";
                            v.collapseBtnIcon_0 = "fa-angle-up";
                        });
                        $(`#act_${0}`).on("hidden.bs.collapse", function () {
                            v.collapseBtnLabel_0 = "موارد بیشتر";
                            v.collapseBtnIcon_0 = "fa-angle-down";
                        });
                        $(`#act_${1}`).on("shown.bs.collapse", function () {
                            v.collapseBtnLabel_1 = "موارد کمتر";
                            v.collapseBtnIcon_1 = "fa-angle-up";
                        });
                        $(`#act_${1}`).on("hidden.bs.collapse", function () {
                            v.collapseBtnLabel_1 = "موارد بیشتر";
                            v.collapseBtnIcon_1 = "fa-angle-down";
                        });

                        $(`#faq_${0}`).on("shown.bs.collapse", function () {
                            v.faqCollapseBtnIcon_0 = "fa-angle-up";
                        });
                        $(`#faq_${0}`).on("hidden.bs.collapse", function () {
                            v.faqCollapseBtnIcon_0 = "fa-angle-down";
                        });
                        $(`#faq_${1}`).on("shown.bs.collapse", function () {
                            v.faqCollapseBtnIcon_1 = "fa-angle-up";
                        });
                        $(`#faq_${1}`).on("hidden.bs.collapse", function () {
                            v.faqCollapseBtnIcon_1 = "fa-angle-down";
                        });
                        $(`#faq_${2}`).on("shown.bs.collapse", function () {
                            v.faqCollapseBtnIcon_2 = "fa-angle-up";
                        });
                        $(`#faq_${2}`).on("hidden.bs.collapse", function () {
                            v.faqCollapseBtnIcon_2 = "fa-angle-down";
                        });
                    });
                    this.$nextTick(() => { 
                        const extrafiles = document.getElementsByClassName('extra-file')
                        for(let f=0; f < extrafiles.length; f++){
                            extrafiles[f].addEventListener('change', ()=>{
                                this.$set(this.files, f, extrafiles[f].files[0].name)
                                console.log(extrafiles[f].files[0].name, 'sadasd')

                            })
                        }
                    })
                },
                watch:{
                    show(value){
                        if(value==='MAIN'){
                            this.$nextTick(() => {
                                //  $('.carousel').flickity()
                                var flkty = new Flickity( '.carousel', {
                                        "wrapAround": true,
                                        pageDots: false,
                                        on: {
                                            ready: function() {
                                                // document.querySelector('.carousel-cell.c-1').style.minHeight = document.querySelector('.flickity-viewport').style.height
                                                // document.querySelector('.carousel-cell.c-2').style.minHeight = document.querySelector('.flickity-viewport').style.height            
                                            }
                                        }
                                })
                            });
                        }
                        else if (value==='REGISTER'){
                            this.$nextTick(() => { 
                                const extrafiles = document.getElementsByClassName('extra-file')
                                for(let f=0; f < extrafiles.length; f++){
                                    extrafiles[f].addEventListener('change', ()=>{
                                        this.$set(this.files, f, extrafiles[f].files[0].name)
                                        console.log(extrafiles[f].files[0].name, 'sadasd')

                                    })
                                }
                            })
                        }
                    }
                },
                methods: {
                    toggleCheck(type, parent, id, name, index) {
                        const target = document.querySelector(`#${parent} #${id}`);

                        if (type === "radio") {
                            for (const i of document.querySelectorAll(`#${parent} .form-check-input`)) {
                                i.checked = false;
                            }
                            this.$set(this.register.startup_2[index], 'value', name)
                        }
                        if (type === "check") {
                            if (target.checked){
                                this.$set(this.register.startup_2[index], 'value', this.register.startup_2[index].value.filter(e=>e!==name))
                            }
                            else {
                                this.$set(this.register.startup_2[index], 'value', [...this.register.startup_2[index].value, name])
                            }
                        }

                        target.checked = !target.checked;
                    },
                    closeNavbar(){
                        $(".navbar-collapse").collapse('hide');
                    },
                    upload(e) {
                        e.preventDefault()
                        // $(':input[type="submit"]').prop('disabled', true);

                        var extraFile = document.getElementsByClassName('extra-file');
                      
                        if(this.validate()){
                            this.error_inform = ''
                            var doc = new jsPDF({
                                orientation: 'landscape',
                                unit: 'mm',
                                format: 'a4'
                            })

                            doc.setFont('SAHEL-FD')
                            doc.setFontSize(14)

                            const pdfText = this.fixString()
                            
                            let y = 10
                            const pageHeight = 210;
                            for(const txt of pdfText){
                                if (y >= pageHeight)
                                {
                                    doc.addPage();
                                    y = 10
                                }
                                doc.text(txt, 290, y, {align:'right'})
                                y += 10
                            }
                            // doc.save('a.pdf')
                            var pdf = doc.output('blob');

                            var zip = new JSZip();

                            zip.file(this.register.representative[4].value+".pdf", pdf);
                            for(let f=0; f < extraFile.length; f++){
                                if(extraFile[f].files[0]){
                                    zip.file((extraFile[f].files[0] || {}).name, extraFile[f].files[0]);
                                }
                            }

                            const vm = this
                            vm.loading = true
                            zip.generateAsync({type:"blob"}).then(function(content) {
                                // saveAs(content, "smartx.zip");
                                var formData = new FormData(vm.$refs.form);
                                formData.append('file', content, vm.register.representative[4].value+'.zip')

                                $.ajax({
                                    type: "POST",
                                    url: 'http://api.behtarapp.ir/api/smartxacc',
                                    data: formData,
                                    success: function(){
                                        console.log('success')
                                        vm.loading = false
                                    },
                                    error: function(e){
                                        console.log('error', e)
                                        vm.loading = false

                                    },
                                    processData: false,
                                    contentType: false,
                                }); 
                            });

                        }
                        else {
                            this.error_inform = 'لطفا خطا های به وجود آمده را برطرف کنید.'
                        }
                    },
                    addFile() {
                        this.files = [
                            ...this.files,  ''
                        ]
                        this.$nextTick(()=>{
                            const extrafiles = document.getElementsByClassName('extra-file')
                            for(let f=0; f < extrafiles.length; f++){
                                extrafiles[f].addEventListener('change', ()=>{
                                    this.$set(this.files, f,extrafiles[f].files[0].name)
                                })
                            }
                        })
                    },
                    addMember() {
                        this.register.members = [
                            ...this.register.members,  
                                {
                                    first_name: '',
                                    last_name: '',
                                    edu: '',
                                    role: '',
                                }
                        ]
                    },
                    removeMember(index) {
                        this.register.members.splice(this.register.members.indexOf(index), 1);
                    },
                    onInput(fieldClass, index, value, fieldName){
                        if(fieldClass === 'members') {
                            this.$set(this.register[fieldClass][index], fieldName, value)
                            return
                        }
                        this.$set(this.register[fieldClass][index], 'value', value)
                    },
                    pdfData() {
                        const data = []

                        for(const i of this.register['representative']){
                            data.push(i.label + ' #')
                            if(i.type==='check'){
                                data.push(i.value.join(', '))
                                continue;
                            }
                            data.push(i.value)
                        }
                        for(const i of this.register['startup_1']){
                            data.push(i.label + ' #')
                            if(i.type==='check'){
                                data.push(i.value.join(', '))
                                continue;
                            }
                            data.push(i.value)
                        }
                        for(const i of this.register.members){
                            data.push('نام'+' #')
                            data.push(i.first_name)
                            data.push('نام خانوادگی'+' #')
                            data.push(i.last_name)
                            data.push('رشته و مقطع تحصیلی'+' #')
                            data.push(i.edu)
                            data.push('سمت در تیم'+' #')
                            data.push(i.role)
                        }
                        for(const i of this.register['startup_2']){
                            data.push(i.label + ' #')
                            if(i.type==='check'){
                                data.push(i.value.join(', '))
                                continue;
                            }
                            data.push(i.value)
                        }

                        return data
                    },
                    fixString(){
                        const data = this.pdfData()
                        let res = []
                        for(const str of data){
                            res = res.concat((str.match(/(.|[\r\n]){1,105}/g) || ['']));
                        }
                        return res
                    },
                    validation_func(){
                        return {
                            required: (value) => {
                                return value ? '' : 'لطفا فیلد مورد نظر را پر کنید.'
                            }
                        }
                    },
                    validate(){
                        const t = ['representative', 'startup_1', 'startup_2'] 
                        let has_error = false

                        for(const j of t){
                            for(let i=0 ;i<this.register[j].length; i++){
                                this.register[j][i].validation_rules.forEach(element => {
                                    this.$set(this.register[j][i], 'error', this.validation_func()[element](this.register[j][i].value))
                                    this.register[j][i].error && (has_error=true)
                                });
                            }
                        }
                        return !has_error
                    }
                },
            });
        </script>
    </body>
</html>
